flask==2.2.3
flask-migrate 
flask-restful 
flask-sqlalchemy
importlib-metadata
importlib-resources
ipdb 
marshmallow
Faker
flask-swagger-ui
gunicorn
python-dotenv
werkzeug
pyjwt
flask-wtf
flask-restx
flask-jwt-extended
flask-cors 
pytest